/*
Simple Document Gallery Mime format icons. These can be used 
when creating unordered lists of documents
*/

/*
===================== 16px icons =====================
*/
.blank-16px {
    list-style-image: url('../icons/16px/_blank.png');
}

.page-16px {
    list-style-image: url('../icons/16px/_page.png');
}

.aac-16px {
    list-style-image: url('../icons/16px/aac.png');
}

.ai-16px {
    list-style-image: url('../icons/16px/ai.png');
}

.aiff-16px {
    list-style-image: url('../icons/16px/aiff.png');
}

.avi-16px {
    list-style-image: url('../icons/16px/avi.png');
}

.bmp-16px {
    list-style-image: url('../icons/16px/bmp.png');
}

.c-16px {
    list-style-image: url('../icons/16px/c.png');
}

.cpp-16px {
    list-style-image: url('../icons/16px/cpp.png');
}

.css-16px {
    list-style-image: url('../icons/16px/css.png');
}

.csv-16px {
    list-style-image: url('../icons/16px/csv.png');
}

.dat-16px {
    list-style-image: url('../icons/16px/dat.png');
}

.dmg-16px {
    list-style-image: url('../icons/16px/dmg.png');
}

.doc-16px, .docx-16px {
    list-style-image: url('../icons/16px/doc.png');
}

.dotx-16px {
    list-style-image: url('../icons/16px/dotx.png');
}

.dwg-16px {
    list-style-image: url('../icons/16px/dwg.png');
}

.dxf-16px {
    list-style-image: url('../icons/16px/dxf.png');
}

.eps-16px {
    list-style-image: url('../icons/16px/eps.png');
}

.exe-16px {
    list-style-image: url('../icons/16px/exe.png');
}

.flv-16px {
    list-style-image: url('../icons/16px/flv.png');
}

.gif-16px {
    list-style-image: url('../icons/16px/gif.png');
}

.h-16px {
    list-style-image: url('../icons/16px/h.png');
}

.hpp-16px {
    list-style-image: url('../icons/16px/hpp.png');
}

.html-16px {
    list-style-image: url('../icons/16px/html.png');
}

.ics-16px {
    list-style-image: url('../icons/16px/ics.png');
}

.iso-16px {
    list-style-image: url('../icons/16px/iso.png');
}

.java-16px {
    list-style-image: url('../icons/16px/java.png');
}

.jpg-16px {
    list-style-image: url('../icons/16px/jpg.png');
}

.js-16px {
    list-style-image: url('../icons/16px/js.png');
}

.key-16px {
    list-style-image: url('../icons/16px/key.png');
}

.less-16px {
    list-style-image: url('../icons/16px/less.png');
}

.mid-16px {
    list-style-image: url('../icons/16px/mid.png');
}

.mp3-16px {
    list-style-image: url('../icons/16px/mp3.png');
}

.mp4-16px {
    list-style-image: url('../icons/16px/mp4.png');
}

.mpg-16px {
    list-style-image: url('../icons/16px/mpg.png');
}

.odf-16px {
    list-style-image: url('../icons/16px/odf.png');
}

.ods-16px {
    list-style-image: url('../icons/16px/ods.png');
}

.odt-16px {
    list-style-image: url('../icons/16px/odt.png');
}

.otp-16px {
    list-style-image: url('../icons/16px/otp.png');
}

.ots-16px {
    list-style-image: url('../icons/16px/ots.png');
}

.ott-16px {
    list-style-image: url('../icons/16px/ott.png');
}

.pdf-16px {
    list-style-image: url('../icons/16px/pdf.png');
}

.php-16px {
    list-style-image: url('../icons/16px/php.png');
}

.ppt-16px, .pptx-16px {
    list-style-image: url('../icons/16px/ppt.png');
}

.psd-16px {
    list-style-image: url('../icons/16px/psd.png');
}

.py-16px {
    list-style-image: url('../icons/16px/py.png');
}

.qt-16px {
    list-style-image: url('../icons/16px/qt.png');
}

.rar-16px {
    list-style-image: url('../icons/16px/rar.png');
}

.rb-16px {
    list-style-image: url('../icons/16px/rb.png');
}

.rtf-16px {
    list-style-image: url('../icons/16px/rtf.png');
}

.sass-16px {
    list-style-image: url('../icons/16px/sass.png');
}

.scss-16px {
    list-style-image: url('../icons/16px/scss.png');
}

.sql-16px {
    list-style-image: url('../icons/16px/sql.png');
}

.tga-16px {
    list-style-image: url('../icons/16px/tga.png');
}

.tgz-16px {
    list-style-image: url('../icons/16px/tgz.png');
}

.tiff-16px {
    list-style-image: url('../icons/16px/tiff.png');
}

.txt-16px {
    list-style-image: url('../icons/16px/txt.png');
}

.wav-16px {
    list-style-image: url('../icons/16px/wav.png');
}

.xls-16px {
    list-style-image: url('../icons/16px/xls.png');
}

.xlsx-16px {
    list-style-image: url('../icons/16px/xlsx.png');
}

.xml-16px {
    list-style-image: url('../icons/16px/xml.png');
}

.yml-16px {
    list-style-image: url('../icons/16px/yml.png');
}

.zip-16px {
    list-style-image: url('../icons/16px/zip.png');
}
/*
===================== 32px icons =====================
*/
.blank-32px {
    list-style-image: url('../icons/32px/_blank.png');
}

.page-32px {
    list-style-image: url('../icons/32px/_page.png');
}

.aac-32px {
    list-style-image: url('../icons/32px/aac.png');
}

.ai-32px {
    list-style-image: url('../icons/32px/ai.png');
}

.aiff-32px {
    list-style-image: url('../icons/32px/aiff.png');
}

.avi-32px {
    list-style-image: url('../icons/32px/avi.png');
}

.bmp-32px {
    list-style-image: url('../icons/32px/bmp.png');
}

.c-32px {
    list-style-image: url('../icons/32px/c.png');
}

.cpp-32px {
    list-style-image: url('../icons/32px/cpp.png');
}

.css-32px {
    list-style-image: url('../icons/32px/css.png');
}

.csv-32px {
    list-style-image: url('../icons/32px/csv.png');
}

.dat-32px {
    list-style-image: url('../icons/32px/dat.png');
}

.dmg-32px {
    list-style-image: url('../icons/32px/dmg.png');
}

.doc-32px, .docx-32px {
    list-style-image: url('../icons/32px/doc.png');
}

.dotx-32px {
    list-style-image: url('../icons/32px/dotx.png');
}

.dwg-32px {
    list-style-image: url('../icons/32px/dwg.png');
}

.dxf-32px {
    list-style-image: url('../icons/32px/dxf.png');
}

.eps-32px {
    list-style-image: url('../icons/32px/eps.png');
}

.exe-32px {
    list-style-image: url('../icons/32px/exe.png');
}

.flv-32px {
    list-style-image: url('../icons/32px/flv.png');
}

.gif-32px {
    list-style-image: url('../icons/32px/gif.png');
}

.h-32px {
    list-style-image: url('../icons/32px/h.png');
}

.hpp-32px {
    list-style-image: url('../icons/32px/hpp.png');
}

.html-32px {
    list-style-image: url('../icons/32px/html.png');
}

.ics-32px {
    list-style-image: url('../icons/32px/ics.png');
}

.iso-32px {
    list-style-image: url('../icons/32px/iso.png');
}

.java-32px {
    list-style-image: url('../icons/32px/java.png');
}

.jpg-32px {
    list-style-image: url('../icons/32px/jpg.png');
}

.js-32px {
    list-style-image: url('../icons/32px/js.png');
}

.key-32px {
    list-style-image: url('../icons/32px/key.png');
}

.less-32px {
    list-style-image: url('../icons/32px/less.png');
}

.mid-32px {
    list-style-image: url('../icons/32px/mid.png');
}

.mp3-32px {
    list-style-image: url('../icons/32px/mp3.png');
}

.mp4-32px {
    list-style-image: url('../icons/32px/mp4.png');
}

.mpg-32px {
    list-style-image: url('../icons/32px/mpg.png');
}

.odf-32px {
    list-style-image: url('../icons/32px/odf.png');
}

.ods-32px {
    list-style-image: url('../icons/32px/ods.png');
}

.odt-32px {
    list-style-image: url('../icons/32px/odt.png');
}

.otp-32px {
    list-style-image: url('../icons/32px/otp.png');
}

.ots-32px {
    list-style-image: url('../icons/32px/ots.png');
}

.ott-32px {
    list-style-image: url('../icons/32px/ott.png');
}

.pdf-32px {
    list-style-image: url('../icons/32px/pdf.png');
}

.php-32px {
    list-style-image: url('../icons/32px/php.png');
}

.ppt-32px, .pptx-32px {
    list-style-image: url('../icons/32px/ppt.png');
}

.psd-32px {
    list-style-image: url('../icons/32px/psd.png');
}

.py-32px {
    list-style-image: url('../icons/32px/py.png');
}

.qt-32px {
    list-style-image: url('../icons/32px/qt.png');
}

.rar-32px {
    list-style-image: url('../icons/32px/rar.png');
}

.rb-32px {
    list-style-image: url('../icons/32px/rb.png');
}

.rtf-32px {
    list-style-image: url('../icons/32px/rtf.png');
}

.sass-32px {
    list-style-image: url('../icons/32px/sass.png');
}

.scss-32px {
    list-style-image: url('../icons/32px/scss.png');
}

.sql-32px {
    list-style-image: url('../icons/32px/sql.png');
}

.tga-32px {
    list-style-image: url('../icons/32px/tga.png');
}

.tgz-32px {
    list-style-image: url('../icons/32px/tgz.png');
}

.tiff-32px {
    list-style-image: url('../icons/32px/tiff.png');
}

.txt-32px {
    list-style-image: url('../icons/32px/txt.png');
}

.wav-32px {
    list-style-image: url('../icons/32px/wav.png');
}

.xls-32px {
    list-style-image: url('../icons/32px/xls.png');
}

.xlsx-32px {
    list-style-image: url('../icons/32px/xlsx.png');
}

.xml-32px {
    list-style-image: url('../icons/32px/xml.png');
}

.yml-32px {
    list-style-image: url('../icons/32px/yml.png');
}

.zip-32px {
    list-style-image: url('../icons/32px/zip.png');
}
/*
===================== 48px icons =====================
*/
.blank-48px {
    list-style-image: url('../icons/48px/_blank.png');
}

.page-48px {
    list-style-image: url('../icons/48px/_page.png');
}

.aac-48px {
    list-style-image: url('../icons/48px/aac.png');
}

.ai-48px {
    list-style-image: url('../icons/48px/ai.png');
}

.aiff-48px {
    list-style-image: url('../icons/48px/aiff.png');
}

.avi-48px {
    list-style-image: url('../icons/48px/avi.png');
}

.bmp-48px {
    list-style-image: url('../icons/48px/bmp.png');
}

.c-48px {
    list-style-image: url('../icons/48px/c.png');
}

.cpp-48px {
    list-style-image: url('../icons/48px/cpp.png');
}

.css-48px {
    list-style-image: url('../icons/48px/css.png');
}

.csv-48px {
    list-style-image: url('../icons/48px/csv.png');
}

.dat-48px {
    list-style-image: url('../icons/48px/dat.png');
}

.dmg-48px {
    list-style-image: url('../icons/48px/dmg.png');
}

.doc-48px, .docx-48px {
    list-style-image: url('../icons/48px/doc.png');
}

.dotx-48px {
    list-style-image: url('../icons/48px/dotx.png');
}

.dwg-48px {
    list-style-image: url('../icons/48px/dwg.png');
}

.dxf-48px {
    list-style-image: url('../icons/48px/dxf.png');
}

.eps-48px {
    list-style-image: url('../icons/48px/eps.png');
}

.exe-48px {
    list-style-image: url('../icons/48px/exe.png');
}

.flv-48px {
    list-style-image: url('../icons/48px/flv.png');
}

.gif-48px {
    list-style-image: url('../icons/48px/gif.png');
}

.h-48px {
    list-style-image: url('../icons/48px/h.png');
}

.hpp-48px {
    list-style-image: url('../icons/48px/hpp.png');
}

.html-48px {
    list-style-image: url('../icons/48px/html.png');
}

.ics-48px {
    list-style-image: url('../icons/48px/ics.png');
}

.iso-48px {
    list-style-image: url('../icons/48px/iso.png');
}

.java-48px {
    list-style-image: url('../icons/48px/java.png');
}

.jpg-48px {
    list-style-image: url('../icons/48px/jpg.png');
}

.js-48px {
    list-style-image: url('../icons/48px/js.png');
}

.key-48px {
    list-style-image: url('../icons/48px/key.png');
}

.less-48px {
    list-style-image: url('../icons/48px/less.png');
}

.mid-48px {
    list-style-image: url('../icons/48px/mid.png');
}

.mp3-48px {
    list-style-image: url('../icons/48px/mp3.png');
}

.mp4-48px {
    list-style-image: url('../icons/48px/mp4.png');
}

.mpg-48px {
    list-style-image: url('../icons/48px/mpg.png');
}

.odf-48px {
    list-style-image: url('../icons/48px/odf.png');
}

.ods-48px {
    list-style-image: url('../icons/48px/ods.png');
}

.odt-48px {
    list-style-image: url('../icons/48px/odt.png');
}

.otp-48px {
    list-style-image: url('../icons/48px/otp.png');
}

.ots-48px {
    list-style-image: url('../icons/48px/ots.png');
}

.ott-48px {
    list-style-image: url('../icons/48px/ott.png');
}

.pdf-48px {
    list-style-image: url('../icons/48px/pdf.png');
}

.php-48px {
    list-style-image: url('../icons/48px/php.png');
}

.ppt-48px, .pptx-48px {
    list-style-image: url('../icons/48px/ppt.png');
}

.psd-48px {
    list-style-image: url('../icons/48px/psd.png');
}

.py-48px {
    list-style-image: url('../icons/48px/py.png');
}

.qt-48px {
    list-style-image: url('../icons/48px/qt.png');
}

.rar-48px {
    list-style-image: url('../icons/48px/rar.png');
}

.rb-48px {
    list-style-image: url('../icons/48px/rb.png');
}

.rtf-48px {
    list-style-image: url('../icons/48px/rtf.png');
}

.sass-48px {
    list-style-image: url('../icons/48px/sass.png');
}

.scss-48px {
    list-style-image: url('../icons/48px/scss.png');
}

.sql-48px {
    list-style-image: url('../icons/48px/sql.png');
}

.tga-48px {
    list-style-image: url('../icons/48px/tga.png');
}

.tgz-48px {
    list-style-image: url('../icons/48px/tgz.png');
}

.tiff-48px {
    list-style-image: url('../icons/48px/tiff.png');
}

.txt-48px {
    list-style-image: url('../icons/48px/txt.png');
}

.wav-48px {
    list-style-image: url('../icons/48px/wav.png');
}

.xls-48px {
    list-style-image: url('../icons/48px/xls.png');
}

.xlsx-48px {
    list-style-image: url('../icons/48px/xlsx.png');
}

.xml-48px {
    list-style-image: url('../icons/48px/xml.png');
}

.yml-48px {
    list-style-image: url('../icons/48px/yml.png');
}

.zip-48px {
    list-style-image: url('../icons/48px/zip.png');
}
/*
===================== 512px icons =====================
*/
.blank-512px {
    list-style-image: url('../icons/512px/_blank.png');
}

.page-512px {
    list-style-image: url('../icons/512px/_page.png');
}

.aac-512px {
    list-style-image: url('../icons/512px/aac.png');
}

.ai-512px {
    list-style-image: url('../icons/512px/ai.png');
}

.aiff-512px {
    list-style-image: url('../icons/512px/aiff.png');
}

.avi-512px {
    list-style-image: url('../icons/512px/avi.png');
}

.bmp-512px {
    list-style-image: url('../icons/512px/bmp.png');
}

.c-512px {
    list-style-image: url('../icons/512px/c.png');
}

.cpp-512px {
    list-style-image: url('../icons/512px/cpp.png');
}

.css-512px {
    list-style-image: url('../icons/512px/css.png');
}

.csv-512px {
    list-style-image: url('../icons/512px/csv.png');
}

.dat-512px {
    list-style-image: url('../icons/512px/dat.png');
}

.dmg-512px {
    list-style-image: url('../icons/512px/dmg.png');
}

.doc-512px, .docx-512px {
    list-style-image: url('../icons/512px/doc.png');
}

.dotx-512px {
    list-style-image: url('../icons/512px/dotx.png');
}

.dwg-512px {
    list-style-image: url('../icons/512px/dwg.png');
}

.dxf-512px {
    list-style-image: url('../icons/512px/dxf.png');
}

.eps-512px {
    list-style-image: url('../icons/512px/eps.png');
}

.exe-512px {
    list-style-image: url('../icons/512px/exe.png');
}

.flv-512px {
    list-style-image: url('../icons/512px/flv.png');
}

.gif-512px {
    list-style-image: url('../icons/512px/gif.png');
}

.h-512px {
    list-style-image: url('../icons/512px/h.png');
}

.hpp-512px {
    list-style-image: url('../icons/512px/hpp.png');
}

.html-512px {
    list-style-image: url('../icons/512px/html.png');
}

.ics-512px {
    list-style-image: url('../icons/512px/ics.png');
}

.iso-512px {
    list-style-image: url('../icons/512px/iso.png');
}

.java-512px {
    list-style-image: url('../icons/512px/java.png');
}

.jpg-512px {
    list-style-image: url('../icons/512px/jpg.png');
}

.js-512px {
    list-style-image: url('../icons/512px/js.png');
}

.key-512px {
    list-style-image: url('../icons/512px/key.png');
}

.less-512px {
    list-style-image: url('../icons/512px/less.png');
}

.mid-512px {
    list-style-image: url('../icons/512px/mid.png');
}

.mp3-512px {
    list-style-image: url('../icons/512px/mp3.png');
}

.mp4-512px {
    list-style-image: url('../icons/512px/mp4.png');
}

.mpg-512px {
    list-style-image: url('../icons/512px/mpg.png');
}

.odf-512px {
    list-style-image: url('../icons/512px/odf.png');
}

.ods-512px {
    list-style-image: url('../icons/512px/ods.png');
}

.odt-512px {
    list-style-image: url('../icons/512px/odt.png');
}

.otp-512px {
    list-style-image: url('../icons/512px/otp.png');
}

.ots-512px {
    list-style-image: url('../icons/512px/ots.png');
}

.ott-512px {
    list-style-image: url('../icons/512px/ott.png');
}

.pdf-512px {
    list-style-image: url('../icons/512px/pdf.png');
}

.php-512px {
    list-style-image: url('../icons/512px/php.png');
}

.ppt-512px, .pptx-512px {
    list-style-image: url('../icons/512px/ppt.png');
}

.psd-512px {
    list-style-image: url('../icons/512px/psd.png');
}

.py-512px {
    list-style-image: url('../icons/512px/py.png');
}

.qt-512px {
    list-style-image: url('../icons/512px/qt.png');
}

.rar-512px {
    list-style-image: url('../icons/512px/rar.png');
}

.rb-512px {
    list-style-image: url('../icons/512px/rb.png');
}

.rtf-512px {
    list-style-image: url('../icons/512px/rtf.png');
}

.sass-512px {
    list-style-image: url('../icons/512px/sass.png');
}

.scss-512px {
    list-style-image: url('../icons/512px/scss.png');
}

.sql-512px {
    list-style-image: url('../icons/512px/sql.png');
}

.tga-512px {
    list-style-image: url('../icons/512px/tga.png');
}

.tgz-512px {
    list-style-image: url('../icons/512px/tgz.png');
}

.tiff-512px {
    list-style-image: url('../icons/512px/tiff.png');
}

.txt-512px {
    list-style-image: url('../icons/512px/txt.png');
}

.wav-512px {
    list-style-image: url('../icons/512px/wav.png');
}

.xls-512px {
    list-style-image: url('../icons/512px/xls.png');
}

.xlsx-512px {
    list-style-image: url('../icons/512px/xlsx.png');
}

.xml-512px {
    list-style-image: url('../icons/512px/xml.png');
}

.yml-512px {
    list-style-image: url('../icons/512px/yml.png');
}

.zip-512px {
    list-style-image: url('../icons/512px/zip.png');
}